# Terraform files
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform variables
*.tfvars
*.tfvars.json

# Docker
*.log

# OS files
.DS_Store
Thumbs.db

# Environment files
.env

# Maven build files
java-app/target/

# Java compiled files
*.class

# IDE files
.vscode/
.idea/
