.profile-pic {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #38bdf8;
    display: block;
    margin: 0 auto 25px auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #0f172a;
    color: #ffffff;
    line-height: 1.6;
}

header {
    background: #111827;
    padding: 20px 50px;
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    color: #38bdf8;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #38bdf8;
}

.hero {
    text-align: center;
    padding: 80px 20px;
}

.profile-pic {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #38bdf8;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero h3 {
    color: #38bdf8;
    margin-bottom: 20px;
}

.hero p {
    max-width: 700px;
    margin: auto;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background: #38bdf8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background: #0284c7;
}

.section {
    max-width: 1000px;
    margin: auto;
    padding: 70px 20px;
}

.section h2 {
    color: #38bdf8;
    margin-bottom: 25px;
    text-align: center;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.skills span {
    background: #1e293b;
    padding: 12px 18px;
    border-radius: 8px;
}

.project {
    background: #1e293b;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.project h3 {
    color: #38bdf8;
    margin-bottom: 10px;
}

#contact p {
    text-align: center;
    margin-bottom: 12px;
}

footer {
    background: #111827;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.profile-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}
